<header class="header">
	<div class="title-wrapper">
		<div class="container">
			<div class="pull-left logo">
				<span class="staticIcon style-3"></span>
			</div>
			<hgroup class="pull-left">
				<h1><a href="https://lookuga.com/"><span class="title-text">LookugA</span></a></h1>
				<h3>Security, Development and other ramblings...</h3>
			</hgroup>
			<br>
			<div id="social-icons" class="pull-right social-icon">
				<a href="http://facebook.com/lookuga">
					<img src="/images/facebook.png" alt="Facebook"/>
				</a>
				<a href="http://twitter.com/lookuga">
					<img src="/images/twitter.png" alt="Twitter"/>
				</a>
				<a href="https://plus.google.com/+lookugA" rel="publisher">
					<img src="/images/googleplus.png" alt="Google Plus"/>
				</a>
				<a href="https://www.youtube.com/user/lookuga">
					<img src="/images/youtube.png" alt="Youtube"/>
				</a>
				<a href="https://github.com/lookuga">
					<img src="/images/github.png" alt="GitHub"/>
				</a>
			</div>
		</div>
	</div>
</header>