---
layout: compress
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					{{ content }}
				</div>
				<div class="col-md-4">
					<div class="well">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle center-block"
								style="width: 300px; height: 250px"
								data-ad-client="ca-pub-5337208776779248"
								data-ad-slot="1494208141"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class="well">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle center-block"
								style="width: 300px; height: 250px"
								data-ad-client="ca-pub-5337208776779248"
								data-ad-slot="1494208141"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class="well">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle center-block"
								style="width: 300px; height: 250px"
								data-ad-client="ca-pub-5337208776779248"
								data-ad-slot="1494208141"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>